.preloader-background {
    float: right;
    padding: .5rem;
}

.update-device-list-state .material-icons.success {
    color:green;
}

.update-device-list-state .material-icons.error {
    color:red;
}

.update-device-list-state .material-icons.sync {
    color:orange;
}

.update-device-list-state .material-icons {
    padding: 0;
    margin: 0;
    position: absolute;
    padding-left: 10px;
    padding-top: 2px;
}